################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FirstWindows/Debug
/Debug
/.vs/OpenGL/v15
/Assimp/Debug
/Texture/Debug
.vs/OpenGL/v16/.suo
*.db
*.ipch
*.log
*.tlog
*.idb
*.pdb
*.obj
*.enc
*.user
*.opendb
*.db-shm
*.db-wal
